.fire ul {
	list-style-image: url(site_images/fire_icon.png); 
}

.emergency ul {
	list-style-image: url(site_images/police_badge.png);
}

.parents ul {
	list-style-image: url(site_images/baby_crying.png);
}

.concussion ul {
	list-style-image: url(site_images/first_aid.png);
}